html {
  scrollbar-width: thin;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}
.dropdown-item:hover{
  background-color: #f1f3f5;
}
.dropdown-item:active {
  background-color: transparent;
}